<h1>Меню на неделю</h1>
<app-student-menu-card [menu]="menu" *ngFor="let menu of menuList" class="student-card"></app-student-menu-card>
<div class="total">
    <div class="container">
        <div class="total-body row">
            <h1>Итого: <b>7.86</b> р</h1>
            <div class="btn-group mr-2" role="group" aria-label="First group">
                <button type="button" class="btn btn-success" [routerLink]="['/your-children']">Подтвердить</button>
                <button type="button" class="btn btn-danger" [routerLink]="['/your-children']">Назад</button>
            </div>
        </div>
    </div>
</div>
