<div class="card class-list-item">
    <div class="card-body">
      <h3 class="card-title">Класс {{item.name}} - {{item.date | toDate:"LL"}}</h3>
      <table class="table">
          <thead>
            <tr>
              <th scope="col">Комплекс</th>
              <th scope="col">Количество порций</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let complex of item.items">
              <th scope="row">{{complex.name}}</th>
              <td>{{complex.count}}</td>
            </tr>
            <tr>
              <th scope="row">Общее кол-во порций</th>
              <td>{{item.total}}</td>
            </tr>
          </tbody>
        </table>
    </div>
</div>
