<div class="">
    <div class="yc-card card" *ngFor="let student of studentsArray">
        <div class="card-body yc-card-body" [routerLink]="[student.id,'student-menu']">
            <div class="yc-img">
                <img src="assets/img/user-placeholder.jpg" class="yc-picture">
            </div>
            <div class="yc-data">
                <ul>
                    <li>{{student.Name}}</li>
                    <li>{{student.Surname}}</li>
                    <li>{{student.MoneyBalance}}</li>
                    <li>{{student.Class}}</li>
                    <li>{{student.School}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>

