:host {
    flex: 1;
}

.student-childerns {
  margin-top: 20px;
}

.yc-card {
    margin: 10px auto;
    max-width: 500px;
    cursor: pointer;
    &:hover {
        background: #eee;
    }
}

.yc-picture {
    height: 50px;
    width: auto;
}

.yc-card-body {
    display: flex;
}

.yc-img {
    flex: 1;
}

.yc-data {
    flex: 3;
}

.yc-exit-button {
  margin: 10px auto;
  max-width: 500px;
  width: 100%;
  display: block;
}
