:host {
    flex: 1;
}

.yc-card {
    margin: 10px;
    cursor: pointer;
    &:hover {
        background: #eee;
    }
}

.yc-picture {
    height: 50px;
    width: auto;
}

.yc-card-body {
    display: flex;
}

.yc-img {
    flex: 1;
}

.yc-data {
    flex: 3;
}