.app {
  min-height: 100vh;
  padding: 20px 0;
}

body {
  background:lightslategray;
  position: relative;
  :after {
    content: "";
    background: url('/assets/img/bg.jpg');
    background-position: fixed;
    opacity: 0.01;
    background-size: 300px 300px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }
}
